<%= javascript_include_tag "news_feed"  if CarnetDadresse::Application.assets.find_asset("news_feed.js") %>

<%= notification_messages! %>

<div class="page_title_wrapper">
  <div class="container sixteen columns">
    <div class="page_title_inner">
      <span class="main_t_1">
        Modification de thèmes de forum </span><span class="main_t_2">&nbsp; - &nbsp;  Modifier le thème titré: <%= @forum_theme.title %>
      </span>
    </div>
  </div><!-- End container sixteen columns -->
</div><!-- End page_title_wrapper -->

<div class="content_shadow"></div>
<div class="clear"></div>

<div class = "container">
  <div class = "content_wrapper_inner">

  <div class = "sixteen columns row">
    <div class = "one_half">

      <div class="pb_title_wrapper">
        <h3 class="pb_title1">Modifier un thème</h3>
      </div>
      <%= form_for @forum_theme, url: update_forum_theme_path, method: :post do |f| %>
        <%= forum_theme_messages! %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, :autofocus => true, class: "form-control", placeholder: "Veuillez entrer le thème du post" %>
        </div>

        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: "form-control", placeholder: "Veuillez entrer le contenu du post" %>
        </div>

        <div class="form-group">
          <%= f.submit "Valider" %>
        </div>
      <% end %>
    </div><!-- End one_half -->

    <div class = "one_half lastcolumn">
      <div class="pb_title_wrapper">
        <h3 class="pb_title1">Liste des Thèmes</h3>
      </div>
      <div class="accordion-items">
        <% unless @forum_themes.blank? %>
          <% @forum_themes.each do |forum_theme| %>
            <div class="accordion-item">
              <%= render "forum_themes_list", forum_theme: forum_theme %>
            </div>
          <% end %>

          <%= paginate @forum_themes, :params => {:controller => :forum_themes, :action => :index} %>
        <% end %>
      </div>

    </div><!-- End one_half lastcolumn -->
  </div>

  </div><!-- End content_wrapper_inner -->
</div><!-- End container -->
