<%= notification_messages! %>

<div class="page_title_wrapper">
  <div class="container sixteen columns">
    <div class="page_title_inner">
      <span class="main_t_1">
        Liste des enregistrements par compte utilisateur </span><span class="main_t_2">&nbsp; - &nbsp;  Liste des enregistrements de <a href = 'javascript:history.go(-1);'><%= @user.full_name %></a>
      </span>
    </div>
  </div><!-- End container sixteen columns -->
</div><!-- End page_title_wrapper -->

<div class="content_shadow"></div>
<div class="clear"></div>

<div class = "container">
  <div class = "content_wrapper_inner">

  <div class = "sixteen columns row">
    <div class = "one_half">

      <div class="pb_title_wrapper">
        <h3 class="pb_title1">Profil du compte</h3>
      </div>
      <%= form_for(@user, url: update_admin_path(@user.id)) do |f| %>
        <div class="form-group">
          <%= f.label :firstname %>
          <%= f.text_field :firstname, :autofocus => true, class: "form-control", placeholder: "Veuillez entrer votre nom", disabled: true %>
        </div>

        <div class="form-group">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, :autofocus => true, class: "form-control", placeholder: "Veuillez entrer votre prénom", disabled: true %>
        </div>

        <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, :autofocus => true, class: "form-control", placeholder: "Veuillez entrer votre adresse numéro fixe", disabled: true %>
        </div>

        <div class="form-group">
          <%= f.label :mobile_number %>
          <%= f.text_field :mobile_number, :autofocus => true, class: "form-control", placeholder: "Veuillez entrer votre adresse numéro mobile", disabled: true %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Veuillez entrer votre adresse email", disabled: true %>
        </div>
      <% end %>
    </div><!-- End one_half -->

    <div class = "one_half lastcolumn">
      <div class="pb_title_wrapper">
        <h3 class="pb_title1">Liste des abonnements</h3>
      </div>

      <!-- Search form -->
      <%#= render "search_form", :locals => {terms: @terms} %>
      <!-- Search form -->

      <div class="accordion-items">
        <% unless @registrations.blank? %>
          <% @registrations.each do |registration| %>
	          <div class="accordion-item">
              <%= render "registrations_list", registration: registration %>
            </div>
	        <% end %>

          <%= paginate @registrations %>
        <% end %>
      </div>

    </div><!-- End one_half lastcolumn -->
  </div>

  </div><!-- End content_wrapper_inner -->
</div><!-- End container -->
