<%= notification_messages! %> 

<div class="page_title_wrapper">
  <div class="container sixteen columns">
    <div class="page_title_inner">	      			       	
      <span class="main_t_1"> 
        Création et visualisation des Actualités </span><span class="main_t_2">&nbsp; - &nbsp;  Ajouter des Actualités au système 
      </span>
    </div>			
  </div><!-- End container sixteen columns -->			
</div><!-- End page_title_wrapper -->

<div class="content_shadow"></div>
<div class="clear"></div>

<div class = "container">
  <div class = "content_wrapper_inner">
  
  <div class = "sixteen columns row">
    <div class = "one_half">
      
      <div class="pb_title_wrapper">
        <h3 class="pb_title1">Créer une Actualité</h3>                                				   
      </div>
      <%= form_for @news_feed, url: create_news_feed_path, method: :post do |f| %>      
        <%= news_feed_messages! %>                          
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, :autofocus => true, class: "form-control", placeholder: "Veuillez entrer le titre de l'article" %>
        </div>
        
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: "form-control", placeholder: "Veuillez entrer le contenu de l'article" %>
        </div> 
        
        <div class="form-group">
          <%= f.label :publication_date %>
          <br />
          <%= f.date_select :publication_date, end_year: Date.today.year, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Valider" %>
        </div>
      <% end %>
    </div><!-- End one_half -->
    
    <div class = "one_half lastcolumn">
      <div class="pb_title_wrapper">
        <h3 class="pb_title1">Liste des actualités</h3>                                				   
      </div>
      <div class="accordion-items">
        <% unless @news_feeds.blank? %>
          <% @news_feeds.each do |news_feed| %>
            <div class="accordion-item">
              <%= render "news_feeds_list", news_feed: news_feed %>
            </div>
          <% end %>
            		
          <%= paginate @news_feeds, :params => {:controller => :news_feeds, :action => :index} %>
        <% end %>
      </div>
			 
    </div><!-- End one_half lastcolumn -->
  </div>
  
  </div><!-- End content_wrapper_inner -->
</div><!-- End container -->
